 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3Links</h3>
                    <hr class="star-light">
			<h4 align="center">Embedded Design Project Ideas</h4>
            <br>
            <ul align="center">
                <li><a href="http://www.embedds.com/">Embedds</a> </li>
                <li><a style="color: #cc0000" href="http://people.ece.cornell.edu/land/courses/ece4760/FinalProjects/"> Cornell ECE4760</a></li>
                <li><a href="http://www.embedds.com/">Engineers Garage</a> </li>
                <li><a href="www.instructables.com">Instructables</a></li>
                <li><a href="http://maxembedded.com/">MaxEmbedded</a></li>
            </ul> 
                </div>
            </div>
        </div>
    </section>