 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Links</h2>
                    <hr class="star-light">
			Embedded Design Project Ideas: <a style="color: #cc0000" href="http://people.ece.cornell.edu/land/courses/ece4760/FinalProjects/">http://people.ece.cornell.edu/land/courses/ece4760/FinalProjects/</a>
                </div>
            </div>
        </div>
    </section>