 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                <br>
            <br>
            <br>
            <br>
            <br>
                    <h2>Sessions</h2>
                    <br>
            
            <p align="center">
			<div class="col-md-8 col-md-offset-2">
			<h3> Upcoming Events: </h3>
			<font size ="4">Event: TinkerEve[7]</font><br>
			<font size ="4">Topic: System level PCB Design</font><br>
			<font size ="4">By: Manoj Gulati</font><br>
			<font size ="4">Date: 20th Jan, 2016 </font><br>
			<font size ="4">Venue: S01 </font><br>
			<font size ="4">Description:This week we are going to have a detailed session on System level PCB designing(using Eagle CAD). However, this time we are not going to restrict ourselves to a 

minimal PCB design rather we will cover everything from component selection 

till multi-layer industry standard design. </font><br>
			<font size ="4">Prerequisites: Some extra bonding for hardware design. Please bring a laptop with a latest version of Cadsoft Eagle (freeware) and a high-resolution mouse.</font><br>
			
			
			</div>
            <!--<a style="color:white" href="http://www.embedds.com/">Embedds</a><br>
            <a style="color:white" href="http://people.ece.cornell.edu/land/courses/ece4760/FinalProjects/">Cornell ECE4760</a><br>
            <a style="color:white" href="http://www.embedds.com/">Engineers Garage</a><br>
            <a style="color:white" href="http://www.instructables.com">Instructables</a><br>
            <a style="color:white" href="http://maxembedded.com/">MaxEmbedded</a><br> 
	    <a style="color:white" href="https://github.com/Electroholics/Docs/blob/master/Club%20Members">Club Members</a><br>
	    <p><a style="color:white" href="https://github.com/Electroholics/Docs">Sessions @ Electroholics</a><br></p> -->
	   
	
       
            </p>
	
            <br>
            <br>
            
                </div>
            </div>
		

        </div>
	<div class="row">
	<div class="col-md-4 col-md-offset-1">
	 <h3>TinkerEves:</h3> <br>
	<a style="color:white" href="https://github.com/Electroholics/Docs/blob/master/Slides/Session-0%20%5BIntro%5D%5B25-08-2015%5D.pdf"><font size="4">TinkerEve[0]: Intro</font></a></br>
	<a style="color:white" href="https://github.com/Electroholics/Docs/blob/master/Slides/Session-1%20%5B01-09-15%5D.pdf"><font size ="4">TinkerEve[1]: Power Supply Design</font></a><br />
	<font size ="4">TinkerEve[2]: 3D Printing</font><br />
	<a style="color:white" href="https://github.com/Electroholics/Docs/blob/master/Slides/Session-3%20%5B16-09-2015%5D.pdf"><font size ="4">TinkerEve[3]: PCB Design</font></a><br />
	<font size ="4">TinkerEve[4]: Discussion for Projects</font><br />
	</p>
	</div>
	<div class="col-md-3">
	<h3>TinkerNights:</h3> <br>
	<a style="color:white" href="https://github.com/Electroholics/Docs/blob/master/Slides/Tinker%20NIght%20%5BIntro%20to%20Embedded%20Systems%5D/Intro%20to%20ES%20and%20GPIO.pdf"><font size ="4">TinkerNight[1]: Basics of Embedded Programming</font></a><br />
	<a style="color:white" href="https://github.com/Electroholics/Docs/tree/master/Slides/Tinker%20NIght%20%5BIntro%20to%20Embedded%20Systems%5D"><font size ="4">TinkerNight[2]: Basics of ADC and Timers</font></a><br />
	</p>
	</div>
	<div class="col-md-3 col-md-offset-1">
	<h3>Tech-Quizzes:</h3> 
	<a style="color:white" href="https://github.com/Electroholics/Docs/blob/master/Slides/Tech-Quiz%20%20%5B27-10-15%5D.pdf"><font size ="4">Tech-Quiz[1]: Signal Processing, Analog electronics, Embedded Systems and Robotics</font></a><br />
	</p>
	</div>
	</div>
    </section>
    <br>
    <br>
    <br>
    <br>
