<!-- Contact Section -->

<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 style="color: white">Contact Us</h2>
				<hr class="star-primary">
			</div>
		</div>
		<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
				<div class="col-sm-3 text-center">
                    <img class="img-responsive" src="img/hemant.jpg" alt="">
                    <h4 style="color: white">Hemanth <br>
                        <small>Coordinator</small>
                    </h4>
                </div>
                <div class="col-sm-3 text-center">
                    <img class="img-responsive" src="img/nischay.jpg" alt="">
                    <h4 style="color: white">Nischay <br>
                        <small>Coordinator</small>
                    </h4>
                </div>
                <div class="col-sm-3 text-center">
                    <img class="img-responsive" src="img/simo.jpg" alt="">
                    <h4 style="color: white">Simranjeet <br>
                        <small>Coordinator</small>
                    </h4>
                </div>
               
                <div class="col-sm-3 text-center">
                    <img class="img-responsive" src="img/akash.jpg" alt="">
                    <h4 style="color: white">Akash <br>
                        <small>Contributor</small>
                    </h4>
                </div>
                </div>
        </div>
                <br>
         <div class="row">
         	<div class="col-lg-8 col-lg-offset-2">       
                <div class="col-sm-3 text-center">
                    <img class="img-responsive" src="img/puneet.jpg" alt="">
                    <h4 style="color: white">Puneet <br>
                        <small>Contributor</small>
                    </h4>
                </div>
                <div class="col-sm-3 text-center">
                    <img class="img-responsive" src="img/aneesh.jpg" alt="">
                    <h4 style="color: white">Aneesh <br>
                        <small>Contributor</small>
                    </h4>
                </div>
                
                <div class="col-sm-3 text-center">
                    <img class="img-responsive" src="img/sanchit.jpg" alt="">
                    <h4 style="color: white">Sanchit <br>
                        <small>Mentor</small>
                    </h4>
                </div>
                <div class="col-sm-3 text-center">
                    <img class="img-responsive" src="img/manoj.jpg" alt="">
                    <h4 style="color: white">Manoj <br>
                        <small>Mentor</small>
                    </h4>
                </div>
                </div>
         </div>
                <div class="clearfix"></div>
			
		</div>
</section>
