<!-- Contact Section -->
<style>
 ul {
   width: 90%;
   margin: 0 auto;
 }
 ul > li {
   float: left;
   width: 32%;
 }
 ul > li > ul {
   display: block;
   width: 100%;
 }
 ul > li > ul > li {
   display: block;
   float: none;
 }
</style>
<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Contact Me</h2>
				<hr class="star-primary">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
			<ul >

			<li><address>


			<ul>
			<li>
			Hemanth Sabbella</li>
			<li>
			<a href="mailto:sabbella13152@iiitd.ac.in">sabbella13152@iiitd.ac.in</a></li>
			<li>
			9899494195</li>
			</ul>

			


			</li></address>
		
			

			<li><address> 



			<ul>
			<li>
			Simranjeet Singh</li>
			<li>
			<a href="mailto:simranjeet13162@iiitd.ac.in">simranjeet13162@iiitd.ac.in</a></li>
			<li>
			9873409377</li>
			</ul>

			</address></li>
			<li>
			<address> 



			<ul>
			<li>
			Nischay Malhan</li>
			<li>
			<a href="mailto:nischay13144@iiitd.ac.in">nischay13144@iiitd.ac.in</a></li>
			<li>
			9654076822</li>
			</ul>
			</address></li>
			</ul>


			<ul>
			<li>
			<address> 
			<ul>
			<li>
			Puneet Jain</li>
			<li>
			<a href="mailto:puneet13150@iiitd.ac.in">puneet13150@iiitd.ac.in</a></li>
			<li>
			9717037957</li>
			</ul>
			</address>
			</li>
			<li>
			<address> 
			<ul>
			<li>
			Aneesh Kumar</li>
			<li>
			<a href="mailto:aneesh13126@iiitd.ac.in">aneesh13126@iiitd.ac.in</a></li>
			<li>
			8826778727</li>
			</ul>
			</address>
			</li>
			</ul>

			<ul>
			<li>
			<address> 
			<ul>
			<li>
			Sanchit Aggarwal</li>
			<li>
			<a href="mailto:sanchit12156@iiitd.ac.in">sanchit12156@iiitd.ac.in</a></li>
			<li>
			9015249868</li>
			</ul>
			</address>
			</li>
			<li>
			<address> 
			<ul>
			<li>
			Manoj Gulati</li>
			<li>
			<a href="https://manojgulati.wordpress.com/">www.manojgulati.wordpress.com</a></li>
			<li>
			<a href="mailto:manojg@iiitd.ac.in">manojg@iiitd.ac.in</a></li>
			<li>
			9911383063</li>
			</ul>
			</address>
			</li>
		</ul>	
			</div>
		</div>
	</div>
</section>
