 <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contact Me</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <ul >

			<li><address>
			Hemanth Sabbella<br>
			<a href="mailto:sabbella13152@iiitd.ac.in">sabbella13152@iiitd.ac.in</a><br>
			9899494195<br></li>
			<li><address> 
			Simranjeet Singh<br>
			<a href="mailto:simranjeet13162@iiitd.ac.in">simranjeet13162@iiitd.ac.in</a><br>
			9873409377<br></address></li>
			<li>
			<address> 
			Nischay Malhan<br>
			<a href="mailto:nischay13144@iiitd.ac.in">nischay13144@iiitd.ac.in</a><br>
			9654076822<br></address></li>
			</ul>


			<ul>
			<li>
			<address> 
			Puneet Jain<br>
			<a href="mailto:puneet13150@iiitd.ac.in">puneet13150@iiitd.ac.in</a><br>
			9717037957<br>
			</address>
			</li>
			<li>
			<address> 
			Aneesh Kumar<br>
			<a href="mailto:aneesh13126@iiitd.ac.in">aneesh13126@iiitd.ac.in</a><br>
			8826778727<br>
			</address>
			</li>
			</ul>

			<ul>
			<li>
			<address> 
			Sanchit Aggarwal<br>
			<a href="mailto:sanchit12156@iiitd.ac.in">sanchit12156@iiitd.ac.in</a><br>
			9015249868<br>
			</address>
			</li>
			<li>
			<address> 
			Manoj Gulati<br>
			<a href="https://manojgulati.wordpress.com/">www.manojgulati.wordpress.com</a><br>
			<a href="mailto:manojg@iiitd.ac.in">manojg@iiitd.ac.in</a><br>
			9911383063<br>
			</address>
			</li>
		</ul>
                </div>
            </div>
        </div>
    </section>