    <!-- Header -->
    
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile.png" alt="">
                    <div class="intro-text">
                        <span class="name"><a href="img/logo.png"></a> </span>
                        <hr class="star-light">
                        <span class="skills">The Electronics Society of IIIT-Delhi</span>
                    </div>
                </div>
            </div>
        </div>
    </header>