
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
             <p>Electroholics club is a dedicated group of hardware enthusiasts from IIIT-Delhi who believe in the ideology of learn, share and grow. We proposed this club to help people better understand the electronic gadgets that they use and also to provide them with a platform for their future projects and to develop their own devices. We believe if our fundamental concepts are strong then we can build anything from scratch. So lets join the league to foster our vision into reality.</p>
	<div class="col-lg-12 text-center">	
<br>
<h2>Who?</h2>
<hr class="star-primary">
<p>This club is meant for all those who love to spend their time with circuits, who love to tinker with circuits & controllers and like to share their experiences too :D. We have some ongoing projects, jump in if you are interested.</p>
<div class="col-lg-12 text-center">
<br>
<section id="what">
<h2>What?</h2>
  <hr class="star-primary">
</div>
<p>Fast track technical sessions, complex hardware projects and lot of competitions spanning across the year. Our focus is not limited to embedded systems rather analog circuits, signal acquisition and much more is on our list.</p>
</section>
<div class="col-lg-12 text-center">
<br>
<h2>Location ?</h2>
<hr class="star-primary">
</div>
  
<p id="contribute">We love not to be restricted to the boring labs so this time we choose to have our sessions in the shared space, downstairs, Library building. We will be carrying our hardware stuff along to enjoy the rhythm of our sessions.</p>
<div class="col-lg-12 text-center">
<br>
<h2>Contribute ?</h2>
 <hr class="star-primary">
</div>
 
<p>You can contribute in two ways (i) share your technical knowledge by preparing handouts/lab experiments or lecture slides or by (ii) donating your spare hardware stuff which is getting coated in dust.</p>
            </div>
        </div>
    </section>