   <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">Electroholics</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">About</a>
                    </li>
		            <li class="page-scroll">
                        <a href="#who">Who</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#what">What</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contribute">Contribute</a>
                    </li>
                    <li>
                        <a href="#about">Sessions</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Contact</a>
                    </li>
                    
                </ul>
            </div>
            <div class="row">
	<div class="col-md-4 col-md-offset-1">
	 <h3>TinkerEves:</h3> <br>
	<a style="color:white" href="https://github.com/Electroholics/Docs/blob/master/Slides/Session-0%20%5BIntro%5D%5B25-08-2015%5D.pdf"><font size="4">TinkerEve[0]: Intro</font></a></br>
	<a style="color:white" href="https://github.com/Electroholics/Docs/blob/master/Slides/Session-1%20%5B01-09-15%5D.pdf"><font size ="4">TinkerEve[1]: Power Supply Design</font></a><br />
	<font size ="4">TinkerEve[2]: 3D Printing</font><br />
	<a style="color:white" href="https://github.com/Electroholics/Docs/blob/master/Slides/Session-3%20%5B16-09-2015%5D.pdf"><font size ="4">TinkerEve[3]: PCB Design</font></a><br />
	<font size ="4">TinkerEve[4]: Discussion for Projects</font><br />
	</p>
	</div>
	<div class="col-md-3">
	<h3>TinkerNights:</h3> <br>
	<a style="color:white" href="https://github.com/Electroholics/Docs/blob/master/Slides/Tinker%20NIght%20%5BIntro%20to%20Embedded%20Systems%5D/Intro%20to%20ES%20and%20GPIO.pdf"><font size ="4">TinkerNight[1]: Basics of Embedded Programming</font></a><br />
	<a style="color:white" href="https://github.com/Electroholics/Docs/tree/master/Slides/Tinker%20NIght%20%5BIntro%20to%20Embedded%20Systems%5D"><font size ="4">TinkerNight[2]: Basics of ADC and Timers</font></a><br />
	</p>
	</div>
	<div class="col-md-3 col-md-offset-1">
	<h3>Tech-Quizzes:</h3> 
	<a style="color:white" href="https://github.com/Electroholics/Docs/blob/master/Slides/Tech-Quiz%20%20%5B27-10-15%5D.pdf"><font size ="4">Tech-Quiz[1]: Signal Processing, Analog electronics, Embedded Systems and Robotics</font></a><br />
	</p>
	</div>
	</div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
