
    <!-- Portfolio Grid Section -->
    <section id="why">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>What?</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
		<p>This club is meant for all those who love to spend their time with circuits, who love to tinker with circuits & controllers and like to share their experiences too :D. We have some ongoing projects, jump in if you are interested.</p>
	<div class="col-lg-12 text-center">	
            </div>
        </div>
    </section>